.navi{padding:40px 0 0 0;}
.flash{width:910px;padding:0px 30px;}
.body_bot{background:url(../images/body_bot.jpg) no-repeat #1b1310;width:936px;padding:0 20px;}
.log_bg{background:url(../images/logbg.jpg) no-repeat 0 0; width:227px;height:33px;}
p.do{font:normal 14px/20px  "Trebuchet MS", Arial, Helvetica, sans-serif;color:#f8d583;padding:5px 5px}
.log_back{background:#2f2118;overflow:hidden;}





